@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-screen {
  height: 100%;
  background: linear-gradient(to bottom left, #475a60, #19222a);
}

.App-text {
  color: #d3d3d3;
}

.App-currentfood {
  color: #fff;
  font-size: xx-large;
  font-weight: 700;
  font-family: Roboto;
}

.App-in {
  transform: translateX(0);
  transition: transform 1s ease-out;
  display: inline-block;
  backgroundcolor: rgba(250, 250, 250, 0.25);
}

.App-out {
  transform: translateX(-100%);
  transition: transform 1s ease-out;
  display: inline-block;
  backgroundcolor: rgba(250, 250, 250, 0.25);
}
